---
import { FormatoFecha } from '@util/FormatoFecha';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<div class="lg:flex">
    <Image class="object-cover w-full h-56 rounded-lg lg:w-64" 
    src={post.data.imagen} alt={post.data.titulo} width={400} />

    <div class="flex flex-col justify-between py-6 lg:mx-6">
        <a href={`/posts/${post.id}`} class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
            {post.data.titulo}
        </a>        
        <span class="text-sm text-gray-500 dark:text-gray-300">{ FormatoFecha.formatea(post.data.fecha) }</span>
    </div>
</div>

